body{
  font-family: 'Helvetica Neue','Open Sans',Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: $light-dark;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

.main-btn {
  display: inline-block;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
