.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .3s;

  &.scrolled {
    background-color: white;

    transition: all .3s;
  }
  .navbar-brand {
    img {
      height: 35px;
      width: 35px;
    }
  }
}