.intro {
  padding: 80px;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 32px;
    color: $light-blue;
    margin-bottom: 20px;
  }
  .intro-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px;
  }
}