.products {
  &.blue-bg {
    .products-text {
      color: white;
    }
    .main-btn {
      border-color: white;
      &:hover {
        border: white;
      }
    }
  }
  .products-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px;
  }
}