
@font-face {
    font-family:"Caveat Bold";
    src:url("Caveat-Bold.woff2") format("woff2"),url("Caveat-Bold.woff") format("woff"),url("Caveat-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        