
@font-face {
    font-family:"ArialMTPro-Light";
    src:url("ArialMTPro-Light.woff2") format("woff2"),url("ArialMTPro-Light.woff") format("woff"),url("ArialMTPro-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        