@charset "UTF-8";
/* # Imports nécessaires à la bibliothèque */
/* Letter spacing is simpler.. stolen from somewhere */
/* font-size to rem with backup, stolen from somewhere */
/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */
/* Letter spacing is simpler.. stolen from somewhere */
/* font-size to rem with backup, stolen from somewhere */
@font-face {
  font-family: "Caveat-Regular";
  src: url("../fonts/Caveat-Regular/Caveat-Regular.woff2") format("woff2"), url("../fonts/Caveat-Regular/Caveat-Regular.woff") format("woff"), url("../fonts/Caveat-Regular/Caveat-Regular.ttf") format("truetype"), url("../fonts/Caveat-Regular/Caveat-Regular.") format(""); }

@font-face {
  font-family: "Caveat-Bold";
  src: url("../fonts/Caveat-Bold/Caveat-Bold.woff2") format("woff2"), url("../fonts/Caveat-Bold/Caveat-Bold.woff") format("woff"), url("../fonts/Caveat-Bold/Caveat-Bold.ttf") format("truetype"), url("../fonts/Caveat-Bold/Caveat-Bold.") format(""); }

@font-face {
  font-family: "ArialMTPro-Light";
  src: url("../fonts/ArialMTPro-Light/ArialMTPro-Light.woff2") format("woff2"), url("../fonts/ArialMTPro-Light/ArialMTPro-Light.woff") format("woff"), url("../fonts/ArialMTPro-Light/ArialMTPro-Light.ttf") format("truetype"), url("../fonts/ArialMTPro-Light/ArialMTPro-Light.") format(""); }

.font-caveat-reg {
  font-family: "Caveat-Regular", "Arial", "Sans-serif"; }

.font-caveat-bd {
  font-family: "Caveat-Bold", "Arial", "Sans-serif"; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts//icons/icomoon.eot?7e2elk");
  src: url("../fonts//icons/icomoon.eot?7e2elk#iefix") format("embedded-opentype"), url("../fonts//icons/icomoon.ttf?7e2elk") format("truetype"), url("../fonts//icons/icomoon.woff?7e2elk") format("woff"), url("../fonts//icons/icomoon.svg?7e2elk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-left:before {
  content: "\e909";
  color: #fff; }

.icon-arrow-right:before {
  content: "\e90a";
  color: #fff; }

.icon-video-play:before {
  content: "\e908";
  color: #3dcd58; }

.icon-down-arrow:before {
  content: "\e900"; }

.icon-call:before {
  content: "\e901"; }

.icon-fb:before {
  content: "\e902"; }

.icon-google:before {
  content: "\e903"; }

.icon-linkedin:before {
  content: "\e904"; }

.icon-logo:before {
  content: "\e905"; }

.icon-twitter:before {
  content: "\e906"; }

.icon-youtube:before {
  content: "\e907"; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* # Imports projet */
/*
Cette découpe est seulement initiée ; il reste possible d’ajouter des composants.
*/
body {
  font-family: "Helvetica Neue",Sans-serif;
  font-weight: 300;
  letter-spacing: .6px;
  color: #333333; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

.main-btn {
  display: inline-block;
  border: 2px solid white;
  border-radius: 25px;
  padding: 15px 35px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all .3s; }
  .main-btn:hover {
    background-color: white;
    transition: all .3s;
    color: #24C6DC; }

.blue-btn {
  border: 2px solid #24C6DC;
  color: #24C6DC;
  background: linear-gradient(to right, white, white);
  transition: all .3s; }
  .blue-btn:hover {
    background: linear-gradient(to right, #3c92c0, #24C6DC);
    border: 2px solid #24C6DC;
    transition: all .3s;
    color: white; }

h2 {
  font-size: 40px;
  margin-bottom: 20px; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .3s;
  z-index: 1000; }
  .navbar .icon-bar {
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 4px; }
  .navbar .navbar-toggler, .navbar .navbar-toggler:focus {
    border: none;
    background: transparent !important;
    outline: 0; }
  .navbar .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }
  .navbar .navbar-brand img {
    height: 35px; }
  .navbar .navbar-nav .active > .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show > .nav-link {
    color: #24C6DC; }
  .navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 500; }
  .navbar.scrolled {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(28, 88, 152, 0.5);
    transition: all .3s; }
    .navbar.scrolled .icon-bar {
      background-color: black;
      display: block; }
    .navbar.scrolled .navbar-nav .nav-link {
      color: #333; }
    .navbar.scrolled .navbar-nav .active > .nav-link, .navbar.scrolled .navbar-nav .nav-link.active, .navbar.scrolled .navbar-nav .nav-link.show, .navbar.scrolled .navbar-nav .show > .nav-link {
      color: #24C6DC; }

.home-slider {
  width: 100%;
  background: #24C6DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .home-slider.slick-dotted.slick-slider {
    margin-bottom: 0;
    padding-bottom: 30px; }
  .home-slider .slick-dots {
    bottom: 25px; }
  .home-slider .slick-dots li.slick-active button:before {
    color: white; }
  .home-slider .slick-dots li button:before {
    color: #ccc;
    font-size: 8px; }
  .home-slider .home-slider_block {
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    transition: background .3s,border-radius .3s,opacity .3s; }
    .home-slider .home-slider_block .home-slider_block_left, .home-slider .home-slider_block .home-slider_block_right {
      padding: 50px; }
    @media (max-width: 767px) {
      .home-slider .home-slider_block .home-slider_block_left {
        display: none; } }
    .home-slider .home-slider_block .home-slider_block_right {
      color: white; }
      .home-slider .home-slider_block .home-slider_block_right h1 {
        font-size: 60px;
        margin-bottom: 40px; }
      .home-slider .home-slider_block .home-slider_block_right .slider-text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 40px; }

.intro {
  padding: 80px; }
  .intro h3 {
    font-size: 32px;
    color: #24C6DC;
    margin-bottom: 20px; }
  .intro .intro-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 50px; }

.research {
  text-align: center; }
  @media (max-width: 480px) {
    .research {
      padding: 0 30px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .research {
      padding: 0 30px; } }
  .research .title {
    width: 100%; }
  .research .custom-card {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin: 50px 0;
    transition: all .3s;
    cursor: pointer; }
    @media (max-width: 767px) {
      .research .custom-card {
        margin: 15px 0; }
        .research .custom-card:last-of-type {
          margin: 15px 0 30px; } }
    .research .custom-card:hover {
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.45);
      transition: all .3s; }
      .research .custom-card:hover .custom-card-header {
        overflow: hidden; }
        .research .custom-card:hover .custom-card-header .custom-card-header-background {
          transform: scale(1.1);
          transition-duration: 1s; }
        .research .custom-card:hover .custom-card-header .custom-card-header-overlay {
          background-color: #000;
          opacity: .2;
          transition-duration: 1s; }
    .research .custom-card .custom-card-header {
      height: 160px;
      position: relative;
      overflow: hidden; }
      .research .custom-card .custom-card-header .custom-card-header-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: 50%;
        transition-duration: 1s; }
      .research .custom-card .custom-card-header .custom-card-header-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition-duration: 1s; }
    .research .custom-card .custom-card-body {
      padding: 40px 20px; }
      .research .custom-card .custom-card-body h3 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px; }
      .research .custom-card .custom-card-body .custom-card-text {
        margin-bottom: 20px;
        font-size: 18px; }

.footer {
  padding: 50px 20px 0;
  background: linear-gradient(117deg, #2f69a5 0%, #65a4d9 100%); }
  @media (max-width: 767px) {
    .footer {
      padding-top: 50px; } }
  .footer .footer-block {
    padding: 10px; }
    .footer .footer-block:first-child {
      padding: 0 10px; }
  .footer .section-title {
    text-align: center;
    color: linear-gradient(117deg, #2f69a5 0%, #65a4d9 100%);
    margin-bottom: 50px;
    text-transform: uppercase; }
  .footer h4 {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .footer h4 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0;
        margin-bottom: 10px; } }
  .footer img {
    position: relative;
    height: 70px; }
  .footer a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent; }
  @media (min-width: 768px) {
    .footer .text-md-left {
      text-align: left;
      padding: 0 0 20px; } }
  .footer .social li {
    padding: 3px 0;
    transition: all .3s; }
    .footer .social li a {
      color: #FFFFFF; }
      .footer .social li a i {
        margin-right: 5px;
        font-size: 14px;
        transition: 0.3s all; }
      .footer .social li a:hover {
        color: #24C6DC;
        transition: all .3s;
        margin-top: -10px; }
  .footer .quick-links li {
    padding: 3px 0;
    transition: 0.5s all ease; }
    .footer .quick-links li a {
      color: #FFFFFF;
      font-size: 14px; }
      .footer .quick-links li a i {
        margin-right: 5px; }
    .footer .quick-links li:hover {
      color: black; }
  .footer .footerend {
    border-style: solid;
    border-width: 1px 0 0;
    border-color: rgba(255, 255, 255, 0.4);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .footerend div {
      padding: 0 10px;
      font-size: 12px;
      color: #FFFFFF; }
      @media (max-width: 768px) {
        .footer .footerend div {
          text-align: center;
          width: 100%;
          padding: 10px;
          font-size: 16px; } }
  @media (max-width: 768px) {
    .footer .copyright {
      order: 3;
      text-align: center;
      width: 100%; } }
  .footer .privacy {
    font-size: 12px; }
    @media (max-width: 768px) {
      .footer .privacy {
        text-align: center;
        width: 100%; } }
    .footer .privacy a {
      line-height: 18px;
      padding: 0 5px; }
